version: 2.1
commands: # Common commands/tasks
  gen_robots: # Generates robots.txt file for prod and non-prod deployment.
    parameters:
      is_prod:
        type: boolean
        default: false

    steps:
      - when: # prod deployment
          condition: <<parameters.is_prod>>
          steps:
            - run:
                name: "Generate robots.txt"
                command: |
                  mv robots.txt robots.txt.bak
                  \<<-EOF > robots.txt
                  User-agent: *
                  Disallow: /
                  EOF

      - unless: # non-prod deployment
          condition: <<parameters.is_prod>>
          steps:
            - run:
                name: "Generate robots.txt"
                command: |
                  mv robots.txt robots.txt.bak
                  \<<-EOF > robots.txt
                  User-agent: *
                  Allow: /
                  EOF

jobs: #
  build:
    docker:
      - image: circleci/node:4.8.2
    steps:
      - gen_robots:
          is_prod: true
      - run: cat "robots.txt"
      - gen_robots:
          is_prod: false
      - run: cat "robots.txt"
