version: 2.1
commands: # Common commands/tasks
  gen_robots: # Generates robots.txt file for prod and non-prod deployment.
    parameters:
      is_prod:
        type: boolean
        default: false

    steps:
      - when: # prod deployment
          condition: <<parameters.is_prod>>
          steps:
            - run:
                name: "Generate robots.txt"
                command: echo "PROD" > /tmp/robots.txt
            - store_artifacts:
                path: /tmp/robots.txt
                destination: robots-stage.txt
      - unless: # non-prod deployment
          condition: <<parameters.is_prod>>
          steps:
            - run:
                name: "Generate robots.txt"
                command: |
                  cat \<<-EOF > /tmp/robots.txt 
                  User-agent: *  
                  Allow: / 
                  EOF
            - store_artifacts:
                path: /tmp/robots.txt
                destination: robots-stage.txt

jobs: #
  build:
    docker:
      - image: circleci/node:4.8.2
    working_directory: /tmp
    steps:
      - gen_robots:
          is_prod: true
      - run: cat "/tmp/robots.txt"
      - gen_robots:
          is_prod: false
      - run: cat "/tmp/robots.txt"
